<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>
	
	
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

	
    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
	new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
	new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
)
@Html.DevExpress().GetScripts( 
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
    new Script { ExtensionSuite = ExtensionSuite.GridView }, 
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors }, 
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
	new Script { ExtensionSuite = ExtensionSuite.Scheduler },
	new Script { ExtensionSuite = ExtensionSuite.TreeList }
)
	
</head>
<body>
    @Html.DevExpress().Splitter(
       settings => {
           settings.Name = "MainSplitter";
           settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
           settings.FullscreenMode = true;
           settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           settings.Styles.Pane.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
           settings.Styles.Pane.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);

           settings.Panes.Add(pane => {
               pane.Name = "HeaderPane";
               pane.Size = System.Web.UI.WebControls.Unit.Pixel(87);
               pane.PaneStyle.BorderBottom.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
               pane.SetContent(() => {
                   Html.RenderPartial("HeaderPartialView");
               });
           });

           settings.Panes.Add(pane => {
               pane.Name = "MainPane";
			   pane.PaneStyle.CssClass = "noborder";
               pane.Separator.Visible = DevExpress.Utils.DefaultBoolean.False;
               pane.SetContent(RenderBody().ToHtmlString());
           });

       }).GetHtml()
</body>
</html>