<div class="header">
    <div class="title">
        @Html.ActionLink("Outlook", "Index", "Home")
    </div>
    <div class="login">
        @Html.Partial("_LogOnPartial")
    </div>
    <div class="menutop">
		@* DXCOMMENT: Configure the header menu *@
        @Html.DevExpress().Menu(settings => {
	       settings.Name = "MenuTop";
	       settings.ItemAutoWidth = false;
	       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
	       settings.Styles.Style.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
	       settings.Styles.Style.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
	   }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/OutlookMenuTop.xml"), "/items/*").GetHtml()
    </div>
</div>